<div class="kanban_card" data-issue_id="<%= issue.id %>"
                         data-issue_priority_position="<%= issue.priority.position %>"
                         data-issue_tracker_position="<%= issue.tracker.position %>"
                         data-issue_status="<%= issue.status.to_json(root: false) %>">
  <div class="header" style="background-color: <%= issue_color(issue) %>;">
    <span class="issue_priority"><%= issue.priority.name %></span>
    <%= link_to "##{issue.id}", issue_path(issue.id), {class: "issue_link"} %></span>
  </div>
  <div class="subject"><%= issue.subject %></div>
  <div class="gravatar" style="background-image: url(<%= gravatar_url(issue.assigned_to.mail) if issue.assigned_to %>)"></div>
</div>
