<%- content_for :header_tags do %>
  <%= %w(jquery.jgrowl.css
         simple_kanban.css).map{ |css| stylesheet_link_tag css, :plugin => 'simple_kanban'}.join("").html_safe %>
         
  <%= %w(jquery.jgrowl.min.js
         jquery.tinysort.min.js
         simple_kanban.js).map{ |js| javascript_include_tag js, :plugin => 'simple_kanban'}.join("").html_safe %>
  <%= javascript_tag "redmine_api_key = '#{User.current.api_key}';" %>
  <%- html_title 'Канбан' %>
<%- end %>

<%- for version in @project.versions.open.sort do -%>
  <table class="kanban">
    <caption class="version"><%= link_to_version version, :name => version_anchor(version) %></caption>
    <thead>
      <tr>
        <%- for issue_status in @issue_statuses -%>
          <th class="<%= issue_status.is_closed? ? 'closed_status' : 'open_status' %>"><%= issue_status.name %></th>
        <%- end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%- for issue_status in @issue_statuses -%>
          <td class="status_column <%= issue_status.is_closed? ? 'closed_status' : 'open_status' %>"
              data-issue_status_id="<%= issue_status.id %>"
              data-version_id="<%= version.id %>">
            <%- if issue_status.is_closed? -%>
              <%- recently_closed_issues = version.fixed_issues.where(status_id: issue_status.id).recently_updated.limit(5) -%>
              <%- if recently_closed_issues.count > 0 -%>
                <p class="only_recently_closed_issues"><%= l(:only_recently_closed_issues) %></p>
              <%- end -%>
              <%- for issue in recently_closed_issues do -%>
                <%= render(partial: 'kanban_card', locals: {issue: issue}) %>
              <%- end -%>
            <%- else -%>
              <%- for issue in version.fixed_issues.where(status_id: issue_status.id) do -%>
                <%= render(partial: 'kanban_card', locals: {issue: issue}) %>
              <%- end -%>
            <%- end -%>
            <div class="clearfix"></div>
          </td>
        <%- end -%>
      </tr>
    </tbody>
  </table>
<%- end -%>